@model Vidly.Models.Customer
@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

@if (Model == null)
{
    <text>Customer not found</text>
}
else
{
    <ul>
        <li>
            <text>@Model.Name</text>
        </li>

        @if (Model.Birthdate != null)
        {
            <li>
                <text>@Html.DisplayFor(model => model.Birthdate)</text>
            </li>
        }
    </ul>
}