@model Vidly.Models.Customer
@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

@if (Model == null)
{
    <text>Customer not found</text>
}
else
{
    <text>@Model.Name</text>
}
